#!/bin/sh

UWSGI=/opt/{{user}}/venv/bin/uwsgi
ROOT=/opt/{{user}}/
PID=/opt/{{user}}/uwsgi.pid
SOCKET=127.0.0.1:3031

if [ -f $PID ]; then kill -9 `cat $PID`; rm $PID; fi

cd $ROOT
exec 2>&1
source /etc/envvars
exec chpst -u {{user}} $UWSGI --ini /etc/service/restful-app-uwsgi/restful-app-uwsgi.ini
